 <div class="col-auto">
    <h2 class="text-center" id="greetings" data-username="{{username}}" data-user-id="{{user_id}}">Welcome, {{username}}!</h2>
  </div>

{{!-- 
<div class="clearfix">
<button id="logout" type="button" class="btn btn-right btn-lg float-right">Logout</button>>
</div> --}}
  <div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-secondary btn-lg pull-right" data-bs-toggle="modal" data-bs-target="#newPostModal">+ New Post</button>
  
    <!-- Modal -->
    <div class="modal fade new-post-modal" id="newProjectModal" tabindex="-1" aria-labelledby="newPostLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newPostLabel">Create a New Post:</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Post Name:</label>
                <input type="text" class="form-control" id="post-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Description:</label>
                <textarea class="form-control" id="post-desc"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            <button type="button" id="create-post-button" class="btn">Create</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <!-- Current Posts -->
  <div class="row3">
    {{#if posts.length}}
    <div class="col-md-6 post-list">
      <h3>Current Posts:</h3>

      {{#each posts as |post|}}
      <div class="row mb-2">
        <div class="col-md-8">
         <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm bg-warning" data-id="{{post.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
  </div>

<script src="/js/logout.js"></script>
<script src="/js/add-project.js"></script>   <!-- UPDATE -->
<script src="/js/save-post.js"></script>
<script src="/js/delete-post.js"></script>