 <div class="col-auto">
    <h2 class="text-center" id="greetings" data-username="{{username}}" data-user-id="{{user_id}}">Welcome, {{username}}!</h2>
  </div>


{{!-- <div class="clearfix">
<button id="logout" type="button" class="btn btn-right btn-lg float-right">Logout</button>>
</div> --}}
  <div class="container">
    <!-- Trigger the modal with a button -->
    <div class="fixed-bottom text-center">
    <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#newPostModal">+ New Post</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newPostLabel">Create a New Post:</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Post Title:</label>
                <input type="text" class="form-control" id="post-title">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Description:</label>
                <textarea class="form-control" id="discription-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            <button type="button" id="create-post-button" class="btn">Create</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <!-- Current Posts -->
  <div class="row3">
    {{#if userPosts.length}}
    <div class="col-md-12 post-list">
      
      {{#each userPosts as |post|}}
      <div class="row md-12">
        <div class="col-md-12">
         <h4><a href="/post/{{post.id}}">{{post.post_title}}</a></h4>
         <p>{{post.post_content}}</p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-sm bg-warning" data-id="{{post.id}}">DELETE</button>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
  </div>

<script src="/js/logout.js"></script>
<script src="/js/save-post.js"></script>
<script src="/js/delete-post.js"></script>
